{% extends "shared/site.html" %}
{% block site_content %}
    <!-- Image header -->
    <div class="w3-display-container w3-container">
        <img src="/static/images/header_image.jpg" alt="#" style="width:110%">
        <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
            <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
            <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
            <h1 class="w3-hide-small">COLLECTION 2021</h1>
            <p><a href="#" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
        </div>
    </div>
    <!-- Product grid -->
    <div class="w3-row-padding">
        {% for bike in bikes %}
            <div class="w3-quarter">
                <h4>{{ bike.brand }}<br>{{ bike.model }}</h4>
                <div class="w3-auto">
                    <a href="{% url "bike details" bike.id %}"><img src="{{ bike.image.url }}" alt="#"
                    style="max-width: 220px; max-height: 130px; width:auto"></a>
                </div>
                <h3>${{ bike.price }}</h3>
            </div>
        {% endfor %}
        <p><a href="{% url "bike add" %}" class="w3-button w3-blue w3-padding-large w3-large">ADD BIKE</a></p>
    </div>
{% endblock %}
