output = {}
while True:
    resource = input()

    if resource == "stop":
        break

    quantity = int(input())

    if resource not in output:
        output[resource] = 0

    output[resource] += quantity

for resource, quantity in output.items():
    print(f"{resource} -> {quantity}")
